/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require skeleton
 *= require normalize
 */

.login,
.galleries,
.gallery,
.new-picture {
	text-align: center;
}

.login {
	margin-top: 15%;
}

input[type="submit"].delete {
	background-color: tomato;
	color: #F7F7F7;
	line-height: 5px;
	height: 30px;
	padding-left: 10px;
	padding-right: 10px;
}

li {
	list-style: none;
}

.picture-info>li {
	background-color: #E6E8E8; 
	padding: 10px;
}
.picture-info>li:first-child {
	font-weight: bold;
}




